:root {
  padding: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1280px;
  margin: 100px auto;
}

.header {
  padding: 20px;
  border-bottom: 1px solid;
  display: flex;
  justify-content: center;
}

button {
  background-color: #6d6d6d;
  width: 150px;
  padding: 15px 0px 15px 0px;
  transition: scale 0.15s;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

button#submit {
  width: 100%;
  display: flex;
  justify-content: center;
}

button#visible {
  width: fit-content;
  padding: 0;
  background: transparent;
}

button#actions {
  width: fit-content;
  padding: 5px;
  background: transparent;
}

.box-input {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 12px;
  align-items: center;
  background-color: #3b3b3b;
}

.edit {
  background-color: green;
}

.trash {
  background-color: red;
}

.icon {
  margin-right: 10px;
}

button:hover {
  scale: 1.03;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
  border-radius: 20px;
}

th,
td {
  text-align: left;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

input,
select {
  padding: 15px;
  outline: none;
  border-radius: 10px;
  border: none;
  background: #3b3b3b;
}

.flex-center {
  display: flex;
  flex-direction: row;

  justify-content: center;
}

.flex-between {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.status {
  padding: 3px 15px 3px 15px;
  border-radius: 50px;
}

.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal.open {
  display: flex;
}

.modal-container {
  background: rgb(85, 85, 85);
  width: 500px;
  height: fit-content;
  border-radius: 20px;
  color: black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.loader {
  width: 40px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #fff 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
